{% load static %}
<section id="testimonial" class="testimonial section-padding">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel wow fadeInUp" data-wow-delay="1.2s">
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img1.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Ednaldo Luiz</a></h2>
                    <h3><a href="#">Técnico em automação</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">Empresa tem grande capacidade técnica para atender todos requisitos.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img2.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Naiara Lemos</a></h2>
                    <h3><a href="#">Engenheira Elétrica</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">Empresa tem grande capacidade técnica para atender todos requisitos.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img3.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Willian Gomes</a></h2>
                    <h3><a href="#">Engenheiro eletrônico</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">Empresa tem grande capacidade técnica para atender todos requisitos.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="testimonial-item">
                  <div class="img-thumb">
                    <img src="{% static 'img/testimonial/img4.jpg' %}" alt="">
                  </div>
                  <div class="info">
                    <h2><a href="#">Evelle Lavínia</a></h2>
                    <h3><a href="#">Técnica automação</a></h3>
                  </div>
                  <div class="content">
                    <p class="description">Empresa tem grande capacidade técnica para atender todos requisitos.</p>
                    <div class="star-icon mt-3">
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-filled"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                      <span><i class="lni-star-half"></i></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>